<!doctype html>

<html lang="en">
<head>
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
<div class="panel">
    <div class="pane">
        <p id=title>Check if person is wearing a mask!</p>
        <form action="/prediction/" method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input id=button type=submit value=Upload>
        </form>
    </div>
</div>
</body>